{% extends 'app/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
{%endblock%}

{% block contenido %}

<div class="galeria">
    <p><img src="{% static 'app\img\Dia-del-mecanico-e1635510865523.png'%}" alt="" height="350px"><br>
      Revision de fluidos</p>
    <p><img src="{% static 'app\img\header-reparacion-cajas-1024x576.png'%}" height="350px" alt=""><br>
      Reparacion cajas de cambio</p>
    <p><img src="{% static 'app\img\Cambio-de-aceite.png'%}" height="350px" alt=""><br>
      Cambio de aceite</p>
    <p><img src="{% static 'app\img\car-mechanic-in-a-workshop-working-at-car-2022-03-08-01-25-18-utc_resultado.png'%}"
        height="350px" alt=""><br>
      Cambio de discos de freno</p>
    <p><img src="{% static 'app\img\taller-2.png'%}" height="350px" alt=""><br>
      Revisión de cubre carter</p>
    <p><img src="{% static 'app\img\taller-mecanico-2775341.png'%}" height="350px" alt=""><br>
      Revisión general</p>
    <p><img src="{% static 'app\img\90.png'%}" height="350px" alt=""><br>
      Revisión de motor</p>
    <p><img src="{% static 'app\img\p_empieza-crear-taller-mecanico-reparar-tu-coche-202071277-1600945966_1.png'%}"
        height="350px" alt=""><br>
      Ajustes de motor</p>
    <p><img src="{% static 'app\img\Taller-Mecanico-.png'%}" height="350px" alt=""><br>
      Revisón balanceo de ruedas</p>
  </div>

{% endblock %}