{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
{%endblock%}

<div class="grupo-2">
    <br>
    <h1>¿Nuestra Misión?</h1>
    <p>En nuestro taller mecánico, nos enfocamos en ofrecer servicios de reparación y mantenimiento de vehículos de
      alta calidad y confiabilidad, asegurando que nuestros clientes siempre reciban el mejor servicio posible.
      Trabajamos con integridad y ética profesional, y nos esforzamos por superar constantemente las expectativas de
      nuestros clientes.</p>
    <br>
    <h2>¿Nuestra Visión?</h2>
    <p>Ser reconocidos como el taller mecánico más confiable y eficiente en la industria automotriz, proporcionando
      soluciones personalizadas a las necesidades de cada cliente. Buscamos mantener una relación de confianza y
      satisfacción con nuestros clientes, y ser líderes en innovación y tecnología para asegurar que siempre brindemos
      el mejor servicio posible.</p>
    <br>
    <h3>Nuestro objetivo</h3>
    <p> Buscamos garantizar un servicio de calidad a sus clientes, utilizando herramientas y equipos adecuados, así
      como contando con técnicos capacitados y experimentados.</p><br>
    <h2>Servicios disponibles</h2>
    <ul><strong>Cambios de aceite y filtros.</strong><ul>
    <ul>Contamos con una gran variedad de marcas y tipos (minerales, semi-sintéticos y sintéticos).</ul>
    <strong>Reemplazo y reparación de frenos y discos de freno.</strong><br>
    <ul>Cuando se trata de seguridad, no hay que perder tiempo. En Meketrefe te ofrecemos el servicio de mantenimiento
      de estas zonas vitales de tu automóvil, todo realizado por expertos.</ul><br>
    <strong>Cambios de neumáticos y alineación de ruedas.</strong><br>
    <ul>Contamos con alianzas comerciales con grandes importadores de neumáticos en Chile, esto nos permite entregar
      variedades y precios de neumáticos altamente competitivos.</ul>
    <ul>La alineación es el proceso de ajustar los ángulos de la dirección y suspensión del vehículo.<br>
      3 buenas razones para realizar la alineación de los neumáticos constantemente:<br></ul>
    <ul> -Economiza dinero, ya que sus neumáticos van a durar más.<br>
      -La dirección quedará más blanda, ya que habrá menor resistencia al rodaje.<br>
      -Tendrá mayor control de dirección, aumentando la seguridad del vehículo.</ul>
    <strong>Reparación y reemplazo de baterías.<br></strong>
    <ul>Las baterías tienen cierto tiempo de duración, es necesario que al cabo de su vida útil reemplazarlas por la
      correcta, además de hacer un rápido chequeo al sistema de carga de estas. En Meketrefe tenemos baterías a muy
      buen precio para tu vehículo.</ul>
    </p>

    <br><br><br>
  </div>
</div>

{% endblock %}